/* Variables */
:root{
    --azulito: #2A7AE4;
    --celestoso: #75b1ff;
    --blanco: #FFFFFF;
    --gris: #464646;
    --grisáceo: #A2A2A2;
    --hueso: #F5F5F5;
}

/* Globales */
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    margin: auto 15.2rem;
}

h1, h2, h3, h4, h5, a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
}

h2, h4, h5{
    color: var(--gris);
}

h1{
    font-size: 5.2rem;
    color: var(--blanco);
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.2rem;
}

h4, a{
    font-size: 1.6rem;
}

h5{
    font-size: 1.4rem;
}

a{
    color: var(--azulito);
    text-decoration: none;
}

.flex{
    display: flex;
}

/* Header */
header{
    justify-content: space-between;
    height: 11.5rem;
    align-items: center;
}

.busqueda-lupa{
    margin-left: 3.2rem;
    border-radius: 2rem;
}

.txt-busqueda{
    width: 39.3rem;
    padding-left: 1.6rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.txt-busqueda::placeholder{
    color: var(--grisáceo);
}

.txt-busqueda, .btn-lupa, .busqueda-lupa{
    height: 4rem;
    background: var(--hueso);
    border: 0.1rem solid transparent;
}


.btn-lupa{
    width: 3rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: var(--grisáceo);
}

.txt-busqueda:focus{
    outline: var(--gris) solid 0.1rem;
}

.btn-lupa i{
    color: var(--blanco);
}

.btn-login{
    width: 18rem;
    height: 4rem;
    border: 0.1rem solid var(--azulito);
    background-color: var(--blanco);
    color: var(--azulito);
    font-size: 1.6rem;
}

.btn-login:hover{
    background-color: var(--azulito);
    color: var(--blanco);
    cursor: pointer;
}

/* Banner */
.banner{
    background-image: url(/img/banner.webp);
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    padding: 15rem 0 3.2rem 15.2rem;
}

.banner h1, .banner h3{
    margin-bottom: 1.6rem;
}

.banner h3{
    color: var(--blanco);
}

.btn-consolas{
    padding: 1rem 2rem;
    border: 0.1rem solid transparent;
    background-color: var(--azulito);
    color: var(--blanco);
    font-size: 1.6rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
}

.btn-consolas:hover{
    cursor: pointer;
    background-color: var(--celestoso);
}

/* Secciones */
.productos:first-of-type{
    margin: 40.1rem 0 6.4rem 0;
}

.productos{
    margin-bottom: 6.4rem;
}

.producto-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
    align-items: center;
}

.cards{
    gap: 3rem;
}

.foto-producto, .nombre-producto, .precio{
    margin-bottom: 0.8rem;
}

.foto-producto{
    width: 176px;
    height: 174px;
    box-sizing: border-box;
    border: 0.1rem solid var(--azulito);
    object-fit: contain;
}